$main-pink-color:#ea003d;
$main-white-color:#fff;
$main-gray-color:#ffffff7a;
%button_pink {
  border: none;
  color: $main-white-color;
  background-color: $main-pink-color;
  border-radius: 8px;
  padding: 10px;
  width: max-content;
  margin-top: 25px;
  &:hover {
    cursor: pointer;
    filter: brightness(1.1);
  }
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input{
  outline: none;
  border:none;
}
#root {
  margin: 0 10%;
}
body {
  color: $main-white-color;
  background-color: #100e19;
  font-family: Helvetica,Helvetica Neue;

}