@import '../../index.scss';

.sort-panel {
  margin-top: 50px;
  &__dropdawn-container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__select {
    position: relative;
    border-radius: 4px;
    width: 180px;
    background-color: #312b45;
    color: $main-white-color;
    cursor: pointer;
    padding: 10px 15px;
    &::after {
      content: '';
      border: 5px solid transparent;
      border-color: $main-white-color transparent transparent transparent;
      position: absolute;
      right: 10px;
      top: 18px;
    }
  }
  &__options-container {
    display: none;
    width: 180px;
    position: absolute;
    top: 42px;
    padding: 5px 0;
    z-index: 1;
    border-radius: 4px;
    background-color: #312b45;
  }
  &__option {
    color: $main-gray-color;
    cursor: pointer;
    align-items: center;
    height: 38px;
    display: flex;
    padding-left: 15px;
    &:hover {
      color: $main-white-color;
      background-color: #3c3550;
    }
    &__active {
      color: $main-white-color;
      background-color: #242031;
    }
  }
}
